body {
  height: 100%;
  max-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #fff;
  min-width: 320px;
  margin: 0;
  background: #2b2336;
  overflow-x: hidden;
}

video {
  max-width: 100%;
}

h1, h2, h3,
h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: Code, sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2em;
}

h2 {
  font-size: 2rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

a {
  color: #2390da;
  -webkit-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
  transition: color ease 0.3s;
  text-decoration: none;
}

a:hover {
  color: #FBC02D;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #2390da;
}

p, ul, ol {
  margin: 1.6em 0;
}

p {
  margin: 0.5em 0 0.5em 0;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0.4em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -1.2em;
  padding: 0 0 0 1.6em;
  border-left: #f29c1f 0.6em solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #666;
  font-weight: 600;
}

blockquote code {
  border: 1px solid #d75e72;
  background: #d75e72;
  color: #ffffff;
  font-weight: normal;
}

pre {
  color: #666;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

.align-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.main_header h1 {
  font-size: 2rem;
  text-align: left;
}

.main_header {
  padding: 2rem 0 5rem 0;
  min-height: 100%;
  min-height: 100vh;
}

.main_header video {
  max-width: 679px;
}

.install a {
  margin: 10px;
  text-decoration: underline;
  font-size: 20px;
}

.install {
  margin-bottom: 1rem;
}

.next-button {
  display: inline-block;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewBox='0 0 129 129' enable-background='new 0 0 129 129' width='512px' height='512px'%3E%3Cg%3E%3Cpath d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='%23FFFFFF'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
}

.video-container {
  position: relative;
}

.video-container:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 10px solid #2b2336;
}

.main_header > * {
  position: relative;
  z-index: 1;
}

.main_header:after {
  content: '';
  height: 30px;
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 930px;
  width: 5076px;
  -webkit-animation: slide 30s linear infinite;
  -o-animation: slide 30s linear infinite;
  animation: slide 30s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke-dasharray='10, 5' x1='0' y1='10' x2='200' y2='10' /%3E%3Cstyle%3E%3C!%5BCDATA%5B%0Aline%7B stroke: rgba(223, 230, 241, 0.2); stroke-width: 6;%0A%7D%0A%5D%5D%3E%3C/style%3E%3C/svg%3E");
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-1692px, 0, 0);
    transform: translate3d(-1692px, 0, 0);
  }
}

@-o-keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-1692px, 0, 0);
    transform: translate3d(-1692px, 0, 0);
  }
}

@-webkit-keyframes slide-to {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(1692px, 0, 0);
    transform: translate3d(1692px, 0, 0);
  }
}

@-o-keyframes slide-to {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(1692px, 0, 0);
  }
}

@keyframes slide-to {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(1692px, 0, 0);
    transform: translate3d(1692px, 0, 0);
  }
}

.main_header:before {
  content: '';
  height: 30px;
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 880px;
  width: 5076px;
  -webkit-animation: slide 60s linear infinite;
  -o-animation: slide 60s linear infinite;
  animation: slide 60s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke-dasharray='10, 5' x1='0' y1='10' x2='200' y2='10' /%3E%3Cstyle%3E%3C!%5BCDATA%5B%0Aline%7B stroke: rgba(223, 230, 241, 0.2); stroke-width: 6;%0A%7D%0A%5D%5D%3E%3C/style%3E%3C/svg%3E");
}

.infinite-border {
  height: 30px;
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 905px;
  width: 5076px;
  -webkit-animation: slide 90s linear infinite;
  -o-animation: slide 90s linear infinite;
  animation: slide 90s linear infinite;
  background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 200 200' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cline stroke-dasharray='15, 5' x1='0' y1='10' x2='200' y2='10' /%3E%3Cstyle%3E%3C!%5BCDATA%5B%0Aline%7B stroke: rgba(223, 230, 241, 0.2); stroke-width: 10;%0A%7D%0A%5D%5D%3E%3C/style%3E%3C/svg%3E");
}

.main_header {
  overflow: hidden;
}

@-webkit-keyframes next {
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes next {
  100% {
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }

  100% {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes next {
  100% {
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes prev {
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}

@-o-keyframes prev {
  100% {
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -o-transform: translateX(150%);
    transform: translateX(150%);
  }
}

@keyframes prev {
  100% {
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(150%);
    -o-transform: translateX(150%);
    transform: translateX(150%);
  }
}

.advantage {
  padding: 4rem 0;
}

.advantage-text {
  padding-top: 1rem;
}

.advantage-item {
  max-width: 30%;
  height: 150px;
  -webkit-flex-basis: 30%;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
  padding: 0 10px;
}

.container_main h1 strong {
  color: #c21f3b;
  font-weight: 700;
}

.container_main h1 strong.arr {
  font-weight: 900;
}

.custom {
  padding-bottom: 4rem;
}

.methods {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
